<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6be76a">  <td>19/09/29 12:47:27</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Amazon.browser()[pri:0, instance:com.worldpay.Amazon@23fe1d71]">&gt;&gt;browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@265119009</td>   <td></td> </tr>
<tr bgcolor="6be76a">  <td>19/09/29 12:47:41</td>   <td>14760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Amazon.cart()[pri:1, instance:com.worldpay.Amazon@23fe1d71]">cart</td> 
  <td>main@265119009</td>   <td></td> </tr>
</table>
